#wordtree_explicit{width: 65%; position: relative; margin-top: 0.6%; height:650px;  }
  body{background: 	royalblue; background: DCE6E1; width:100%; }
  center{width:100%;}

/*Small Device Styles*/


@media screen and (max-width: 50%) {
  body {
    background: green; 
  }


}
